/* Order */
@layer reset, primevue;

/* Reset CSS */
@layer reset {

  button,
  input {
    /* CSS to Reset */
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.form-container {
  width: fit-content;
  height: fit-content;
  border: 3px solid white;
  padding-block: 125px;
  padding-inline: 50px;
  border-radius: 5px;
  background-color: white;
}

.form-container input {
  margin-top: 15px;
  height: 45px;
  padding: 15px;
}

.form-container button {
  margin-top: 15px;
  height: 45px;
  padding: 15px;
}

.form-container .field-checkbox {
  margin-top: 15px;
}

.form-container p {
  margin-top: 15px;
  text-align: center;
}


.main-login-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(80deg, rgb(252, 96, 96), rgb(132, 49, 132), rgb(249, 194, 90), rgb(248, 248, 85));
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-section a {
  margin-top: 12px;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 400 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.dashboard-container {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
}

.side-bar-container {
  height: 100vh;
  width: 16.35%;
  background-color: black;
  border-right: 1px solid rgb(49, 49, 49);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.profile-vue-container {
  height: 100vh;
  width: 83.65%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.scroll-dash-container {
  height: 100vh;
  width: 83.65%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  color: white;
}